<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 
  <body class= "indexPage">
    <header class="indexPage">
      <h1><%= title %></h1>
      <nav>
        <a href="/">Home</a>
        <a href="/flights">Flight Log </a>
        <a href="/flights/new">Flight Search</a>
      </nav>
     
    </header> 
    <video class="indexPage" height= 350 src="https://i.imgur.com/4R775Uv.mp4" autoplay muted loop = true type=video/mp4 ></video>  
      <br> 
      <br>
  


    
  
  </body>
</html>
