body {
  padding: 50px;
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
  background-color: black;
  background-image: url("https://i.imgur.com/wyF88ak.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  font-variant-caps: petite-caps;
  color: white;
}
a {
  color: rgba(128, 128, 128, 0.579);
  -webkit-text-stroke: 1px blue
}
header{
  border: 5px solid black; 
  background-color: white;
  box-shadow: inset 10px 10px 90px 90px rgba(111, 111, 236, 0.661);
  -webkit-text-stroke: .75px blue;
  opacity: 75%;
}
h1{
  display: flex;
  justify-content: center;
  color: grey;
}
p.welcome{
color:rgb(88, 88, 241)
}
nav{
  display: flex;
  justify-content: space-around;

}
/* Error Page */
h2.errorStatus{
  display: flex;
  justify-content: center;
}
/*Flight Search-new */
select.flightLocator{
  color: blue;
  border-style: 5% inset black;
  padding: 20px;
}
select.flightLocate{
  color: blue;
  border-style: 5% inset black;
  padding: 20px;
}
input.flightLocate{
  color: blue;
  padding: 15px 30px 15px 30px;
  padding: 20px;
}
input.flightLocation{
  color: blue;
  padding: 15px 30px 15px 30px;
  padding: 20px;
}
form.flightLocator{
color: white;
}
input.flightLocator{
  border-radius: 40%;
  padding: 15px 30px 15px 30px;
  background-color: grey;
  border-right-color: lightblue;
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.25);
  border: 2px solid blue;
}
/* Flight Log */
table.flightTable{
  background-color: white ;
  color: blue;
  border: 5px solid black;
  margin-top: 20px;
  
 
}
th{
  border: solid 2px black;
  padding: 0px 50px 0px 50px;
  text-align: center;
  width: 100%;
  padding: 0px;
  background-color: rgba(128, 128, 128, 0.579);
}
td{
  border: solid 2px black;
  text-align: center;
}

/* Flight Details- show page */

p.flightDetails{
  text-align: center;
  color: white;
  font-variant-caps: petite-caps;
  text-decoration-line:  underline;
  font-weight: bold;
}