body {
  padding: 50px;
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
  background-color: black;
  background-image: url("https://i.imgur.com/wyF88ak.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  font-variant-caps: petite-caps;
  color: white;
}
body.indexPage{
 background-image: url(https://i.imgur.com/4R775Uv.mp4);
 background-attachment: fixed;
}
a {
  color: rgba(128, 128, 128, 0.579);
  -webkit-text-stroke: 1px blue
}
header{
  border: 5px solid black; 
  background-color: white;
  box-shadow: inset 10px 10px 90px 90px rgba(111, 111, 236, 0.661);
  -webkit-text-stroke: .75px blue;
  opacity: 75%;
}
header.indexPage{
  margin-top: 30px;
  width: 100%;
 
}
video.indexPage{
  width: 100%;
}
h1{
  display: flex;
  justify-content: center;
  color: grey;
}
p.welcome{
color:rgb(88, 88, 241)
}
nav{
  display: flex;
  justify-content: space-around;

}
/* Error Page */
h2.errorStatus{
  display: flex;
  justify-content: center;
  
}
pre{
  color: orange;
}
/*Flight Search-new */
select.flightLocator{
  color: blue;
  border-style: 5% inset black;
  padding: 20px;
}
select.flightLocate{
  color: blue;
  border-style: 5% inset black;
  padding: 20px;
}
input.flightLocate{
  color: blue;
  padding: 15px 30px 15px 30px;
  padding: 20px;
}
input.flightLocation{
  color: blue;
  padding: 15px 30px 15px 30px;
  padding: 20px;
}
label.flightLocation{
  color: white;
  background-color: black;
}
form.flightLocator{
color: white;
}
input.flightLocator{
  border-radius: 40%;
  padding: 15px 30px 15px 30px;
  background-color: grey;
  border-right-color: lightblue;
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.25);
  border: 2px solid blue;
}
/* Flight Log */
table.flightTable{
  background-color: white ;
  color: blue;
  border: 5px solid black;
  margin-top: 20px;
}
th{
  border: solid 2px black;
  text-align: center;
  /* width: 100%; */
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.579);
}
td{
  border: solid 2px black;
  text-align: center;
}

/* Flight Details- show page */
section.bookTicket{
  background-color: black;
  border: 5px solid blue;
}
p.flightDetails, p.bookFlight{
  text-align: center;
  color: white;
  text-decoration-line:  underline;
  font-weight: bold;
}
p.bookFlight{
  background-color: grey;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
#price{
  width: 20%;
}

/* Tickets- show page */
section.tickets{
  background-color: white;
}
td.seat, td.cabinClass,td, td.price{
  color: blue; 
}

th.ticketingDetails{
  background-color: grey;
  border: outset 5px blue;
}
h5.noTicket{
  color: white;
  text-align: center;
  font-variant-caps: all-small-caps;
  border: black 5px solid;
  outline: solid blue 5px;
  background-color: blue;
}

/* Destinations - new destination page */
section.destination{
  display: flex;
  justify-content: space-around;
  background-color: grey;
  padding: 50px;
  border: 5px solid black;
}
select.destination{
  padding: 40px;
  border: 5px solid blue;
}