body {
  padding: 50px;
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
  background-color: black;
  background-image: url("https://i.imgur.com/wyF88ak.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  font-variant-caps: petite-caps;
  color: white;
}
body.indexPage{
 background-image: url(https://i.imgur.com/4R775Uv.mp4);
 background-attachment: fixed;
}
a {
  color: rgba(128, 128, 128, 0.579);
  -webkit-text-stroke: 1px blue
}
header{
  border: 5px solid black; 
  background-color: white;
  box-shadow: inset 10px 10px 90px 90px rgba(111, 111, 236, 0.661);
  -webkit-text-stroke: .75px blue;
  opacity: 75%;
}
header.indexPage{
  margin-top: 30px;
  width: 100%;
 
}
video.indexPage{
  width: 100%;
}
h1{
  display: flex;
  justify-content: center;
  color: white;
}
p.welcome{
color:rgb(88, 88, 241)
}
nav{
  display: flex;
  justify-content: space-around;

}
/* Error Page */
h2.errorStatus{
  display: flex;
  justify-content: center; 
}
pre{
  color: orange;
}
/*Flight Search-new */
select.flightLocator{
  color: blue;
  border-style: 5% inset black;
  font-variant-caps: all-small-caps;
}
select.flightLocate{
  color: blue;
  border-style: 5% inset black;
  font-variant-caps: all-small-caps;
}
input.flightLocate{
  color: blue;
  font-variant-caps: all-small-caps;
}
input.flightLocation{
  color: blue;
  font-variant-caps: all-small-caps;
}
label.flightLocation{
  color: white;
  background-color: rgba(0, 0, 0, 0.538);
  font-variant-caps: all-small-caps;
}
form.flightLocator{
color: white;
font-variant-caps: all-small-caps;
}
input.flightLocator{
  border-radius: 100%;
  padding: 15px 40px 15px 40px;
  border-right-color: lightblue;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.25);
  border: 2px solid blue;
  font-variant-caps: all-small-caps;
  color: blue;
  font-variant-caps: all-small-caps;
  background-color: white;
}
option{
  font-variant-caps: all-small-caps;
}
/* Flight Log */
table.flightTable{
  display: table;
  width: 100%;
  background-color: white ;
  color: blue;
  border: 5px solid black;
  margin-top: 20px;
}
th{
  border: solid 2px black;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.579);
}
td{
  border: solid 2px black;
  text-align: center;
}

/* Flight Details- show page */
section.bookTicket{
  background-color: black;
  border: 5px solid blue;
}
p.flightDetails, p.bookFlight{
  text-align: center;
  color: white;
  text-decoration-line:  underline;
  font-weight: bold;
}
p.bookFlight{
  background-color: grey;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
#price{
  width: 20%;
}
button, input.buttonDes, input.bookFlight{
  color: blue;
  font-variant-caps: all-small-caps;
  background-color: white;
  outline: 2px solid rgb(88, 88, 241);
  font-size: 15px;
}
/* Tickets- show page */
section.tickets{
  background-color: white;
}
td.seat, td.cabinClass,td, td.price{
  color: blue; 
}
td.departs{
  font-size: 18px;
}
th.ticketingDetails{
  background-color: grey;
  border: outset 5px blue;
}
h5.noTicket{
  color: white;
  text-align: center;
  font-variant-caps: all-small-caps;
  border: black 5px solid;
  outline: solid blue 5px;
  background-color: blue;
}

/* Destinations - new destination page */
section.destination{
  display: flex;
  justify-content: space-around;
  background-color: grey;
  padding: 50px;
  border: 5px solid black;
}
select.destination{
  padding: 40px;
  border: 5px solid blue;
}
input.destination{
  color: blue;
  font-variant-caps: all-small-caps;
  background-color: white;
  outline: 2px solid rgb(88, 88, 241);
  font-size: 15px;
}
thead.destination{
  color: white;
}
tbody.destination{
 overflow: scroll;
}
table.hover{
  background-color: orange;
}
#heading{
  color: blue;
}
#chart{
  /* display: block; */
  color: white;
}

#codes{
  color: white;
}

p{
  background-color: orange;
  color: blue;
  text-align: center;
  font-weight: bold;
}
a{
  color: orange;
}
@media only screen and (min-width: 230){
  table.flightTable{
    display: block;
    margin: 44px 0 0 0;
  }
}