<%-include('../partials/header')%>

<body class="newSearch">
        <br>
        <br>
    <section class="destination">
        <h3>Flight destination:</h3> 
        <br>
        <select>
            <% destinations.forEach(function(d){ %>
                <option><%=d.destination %></option>
            <%})  %> 
        </select>
    <br>
    <br>
  <form class="destination-form" action="/destinations/new" method="POST">
    <label>Destination Airport:</label>
    <input  type="text" name="destination" placeholder="DCA">
    <br>
    <input class="destination" type="submit" value="Add Destination">
  </form>
</section>
<br><br>
<table  id="chart" class="table table-striped table-dark table-hover ">
    <thead class= "destination fixed_header">
      <tr id="charts" class="table-light">
        <th id= "heading" scope="col"> Major US Airport Hubs</th>
        <th id= "heading" scope="col">IATA Code</th>
        <th id= "heading" scope="col">City</th>
        <th id= "heading" scope="col">State</th>
      </tr>
    </thead>
    <tbody class="destination">
      <tr id="charts">
        <th scope="row">Hartsfield-Jackson Atlanta International Airport</th>
        <td id="codes">ATL</td>
        <td id="codes">Atlanta</td>
        <td id="codes">GA</td>
      </tr>
      <tr id= "charts" class="table-hover">
        <th scope="row">Los Angeles International Airport</th>
        <td id="codes">LAX</td>
        <td id="codes">Los Angeles</td>
        <td id="codes">CA</td>
      </tr>
      <tr id= "charts" class="table-hover">
        <th scope="row">O'Hare International Airport</th>
        <td id="codes">ORD</td>
        <td id="codes">Chicago</td>
        <td id="codes">IL</td>
      </tr>
      <tr id= "charts" class="table-hover">
        <th scope="row">Dallas/ Fort Worth International Airport</th>
        <td id="codes">DFW</td>
        <td id="codes">Dallas</td>
        <td id="codes">TX</td>
      </tr>
      <tr id= "charts" class="table-hover">
        <th scope="row">Denver International Airport</th>
        <td id="codes">DEN</td>
        <td id="codes">Denver</td>
        <td id="codes">CO</td>
      </tr>
      <tr id= "charts" class="table-hover">
        <th scope="row">Orlando International Airport</th>
        <td id="codes">MCO</td>
        <td id="codes">Orlando</td>
        <td id="codes">FL</td>
      </tr>
      <tr id= "charts" class="table-hover">
        <th scope="row">Charlotte Douglas International Airport</th>
        <td id="codes">CLT</td>
        <td id="codes">Charlotte</td>
        <td id="codes">NC</td>
      </tr>
      <tr id= "charts" class="table-hover">
        <th scope="row">Miami International Airport</th>
        <td id="codes">MIA</td>
        <td id="codes">Miami</td>
        <td id="codes">FL</td>
      </tr>
      <tr id= "charts" class="table-hover">
        <th scope="row">General Edward Lawrence Logan International Airport</th>
        <td id="codes">BOS</td>
        <td id="codes">Boston</td>
        <td id="codes">MA</td>
      </tr>
      <tr id= "charts" class="table-hover">
        <th scope="row">Washington Dulles International Airport</th>
        <td id="codes">IAD</td>
        <td id="codes">Washington D.C.</td>
        <td id="codes">VA</td>
      </tr>
      <tr id= "charts" class="table-hover">
        <th scope="row">Portland International Airport</th>
        <td id="codes">PDX</td>
        <td id="codes">Portland</td>
        <td id="codes">OR</td>
      </tr>
      <tr id= "charts" class="table-hover">
        <th scope="row">Daniel K. Inouye International Airport</th>
        <td id="codes">HNL</td>
        <td id="codes">Honolulu</td>
        <td id="codes">FL</td>
      </tr>
    </tbody>
  </table>

  <p class="destinations">For a complete list of airline and location codes, visit <a href="https://www.iata.org/en/publications/directories/code-search/">IATA</a></p>
 
  <%-include('../partials/footer')%>