<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Schedule a Flight</title>
</head>
<body class="newSearch">
    <header>
        <h1><%= title %></h1>
        <nav>
          <a href="/">Home</a>
          <a href="/flights">Flight Log</a>
          <a href="/flights/new">Flight Search</a>
          <a href="/destinations/new" >Flight Destinations</a>
        </nav>
      </header> 
        <br>
        <br>
    <section class="destination">
        <h3>Flight destination:</h3> 
        <br>
        <select>
            <% destinations.forEach(function(d){ %>
                <option><%=d.destination %></option>
            <%})  %> 
        </select>
    <br>
    <br>
  <form class="destination-form" action="/destinations/new" method="POST">
    <label>Destination Airport:</label>
    <input type="text" name="destination" placeholder="DCA">
    <br>
    <input type="submit" value="Add Destination">
</form>
</section>
</body>
</html>