<%-include('../partials/header')%>

<body class="newSearch">
    <header>
        <h1><%= title %></h1>
        <nav>
          <a href="/">Home</a>
          <a href="/flights">Flight Log</a>
          <a href="/flights/new">Flight Search</a>
          <a href="/destinations/new">Flight Destinations</a>
        </nav>
      </header> 
      <section>
        <form class="flightLocator" action="/flights" method="POST" name="flightInfo"> 
         <br><label class="flightLocation"> Choose a departure location:</label><select name="airport" class="flightLocator">
           <optgroup label="Colorado">
            <option value="DEN">Denver, CO- Denver International</option>
          </optgroup>
            <optgroup label="California">
            <option value ="LAX">Los Angeles, CA- Los Angeles Internation</option>
            <option value="SAN">San Diego, CA- San Diego</option>
          </optgroup>
           <optgroup label="Georgia">
            <option value="ATL">Atlanta, GA- Hartsfield-Jackson International</option>
          </optgroup>
          <optgroup label="New York">
             <option value="JFK">New York- John F. Kennedy International</option>
          </optgroup>
          <optgroup label="Texas">
            <option value="AUS">Austin, TX- Austin Bergstrom International</option>
            <option value="DFW">Dallas/Fort Worth, TX- Dallas/Forth International</option>
            </optgroup>
        </select> 
        <br>
        <br><label class="flightLocation"> Choose an arrival location:</label><select name="arrivalAirport" class="flightLocator">
           <optgroup label="California">
           <option value ="LAX">Los Angeles, CA- Los Angeles Internation</option>
           <optgroup label="Colorado">
           <option value="DEN">Denver, CO- Denver International</option>
         </optgroup>
           <option value="SAN">San Diego, CA- San Diego</option>
         </optgroup>
          <optgroup label="Georgia">
           <option value="ATL">Atlanta, GA- Hartsfield-Jackson International</option>
         </optgroup>
         <optgroup label="New York">
            <option value="JFK">New York- John F. Kennedy International</option>
         </optgroup>
         <optgroup label="Texas">
           <option value="AUS">Austin, TX- Austin Bergstrom International</option>
           <option value="DFW">Dallas/Fort Worth, TX- Dallas/Forth International</option>
           </optgroup>
       </select> 
        <br>
        <label class="flightLocation">Choose an airline:</label>
        <select name="airline"class="flightLocate">
          <option value= "Delta">Delta</option>
          <option value="American">American Airlines</option>
          <option value="Southwest">Southwest Airlines</option>
          <option value="United"> United</option>
          <option value="jetBlue">jetBlue</option>
          <option value="Frontier">Frontier Airlines</option>
          <option value="Spirit">Spirit Airlines</option>
        </select>
        <br>
        <label class="flightLocation"> *Departure Number:</label> <input class="flightLocation" type="number" name="flightNo" min= "10" max= "9999" required>
        <br>
        <label class="flightLocation"> *Flight Arrival Number:</label> <input class="flightLocation" type="number" name="arrivalFlightNo" min= "10" max= "9999" required>
        <br>
         <label class="flightLocation">Departure Date/Time:</label> <input class= "flightLocate" type="datetime-local" min="currentDate" name="departs">
          <br>
          <label class="flightLocation">Return Date/Time:</label><input class= "flightLocate" type="datetime-local" min="currentDate" name="returns" >
          <br>
        <input class="flightLocator" type="submit" value="Submit">
       
      

        </form>
      </section>
  
      <%-include('./partials/footer')%>
        
    