<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flight Log</title>
</head>
<body class="flightsIndex">

    <header>
       
        <nav>
          <a href="/">Home</a>
          <a href="/flights">Flight Log </a>
          <a href="/flights/new">Flight Search</a>
        </nav>
      </header> 

    </select> 
    <br>
    <br> Choose an arrival location:<select name="arrivalAirport" class="flightLocator">
       <optgroup label="California">
       <option value ="LAX">Los Angeles, CA- Los Angeles Internation</option>
       <optgroup label="Colorado">
       <option value="DEN">Denver, CO- Denver International</option>
     </optgroup>
       <option value="SAN">San Diego, CA- San Diego</option>
     </optgroup>
      <optgroup label="Georgia">
       <option value="ATL">Atlanta, GA- Hartsfield-Jackson International</option>
     </optgroup>
     <optgroup label="New York">
        <option value="JFK">New York- John F. Kennedy International</option>
     </optgroup>
     <optgroup label="Texas">
       <option value="AUS">Austin, TX- Austin Bergstrom International</option>
       <option value="DFW">Dallas/Fort Worth, TX- Dallas/Forth International</option>
       </optgroup>
   </select> 

</body>
</html>